services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vivacolors_backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .:/app               
      - /app/node_modules     # para no sobreescribir node_modules del contenedor
    command: npm run dev
    restart: unless-stopped
